@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.head{
  width: 85%;
  margin: 2.5% 10% 2.5% 10%;
}
.logo{
  width: 200px;
  display: inline-block;
  margin-left: 22px;
  margin-right: 22px;
}

h1 a img{ width: 200px; }

.menu{
  width: 742px;
  display: inline-block;
}

nav a{
  margin: 0 50px 0 10px;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
}

nav a:hover{ color: rgba(52,173,242); }

.social{ display: inline-block; }

.medium a{
  padding: 0 3px;
  color: rgba(151,151,153);
}

.medium a:hover{ color: rgba(52,173,242); }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
section{ margin-bottom: 80px; }

/*banner style starts here*/
.banner{
  width: 100%;
  height: 650px;
  display: inline-block;
}


/* quote style starts here */
.tcquote{ background-color: rgb(93,5,141); }

.tcquote h2{
  text-align: center;
  color: white;
  padding: 35px 0;
  font-size: 32px;
  font-weight: bold;
}
/* quote style ends here */

/* slider style starts here */
.slides{ position: relative; }

.slide{
  position: absolute;
  z-index: -1;
  opacity:0;
}

.slide{
  width: 100%;
  height: 543.33px;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.slide:nth-of-type(1){
  background-image: url(../images/1.jpeg);
  background-size: cover;
}

.slide:nth-of-type(2){
  background-image: url(../images/2.jpeg);
  background-size: cover;
}

.slide:nth-of-type(3){
  background-image: url(../images/3.jpeg);
  background-size: cover;
}

.slide:nth-of-type(4){
  background-image: url(../images/4.jpg);
  background-size: cover;
}

.care-quote{
  font-size: 28px;
  display: block;
  width: 75%;
  padding-top: 220px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}

.qfrom-film{
  font-size: 25px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  display: block;
  color: white;
  line-height: 3;
}
.showing{
  opacity: 1;
  z-index: 2;
}
/* slider style ends here */
.circle{
  
}
.fas.fa-circle{

}
/*banner style ends here*/
/*Tc films styling starts here*/

.films{
  margin: 50px auto;
  width: 60%;
}

.films-about h2{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding: 15px 0;
}

.films-about p{
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.films-video{
  width: 100%;
  height: auto;
  margin: 50px auto;
}

.film-1{
  width: 100%;
  display: inline-block;
}

.film-2{
  width: 100%;
  display: inline-block;
  margin-top: 30px;
}

.video{
  width: 38%;
  float: left;
  height: 200px;
  background-image: url(../images/video_image.jpg);
  background-size: cover;
}

/* Modal styling */
.modal{
  position: absolute;
  left: 500px;
  background: black;
  width: 350px;
  display: none;
}
.cbutton{
  color: white;
  font-size: 20px;
  font-weight: bold;
  float: right;
  cursor: pointer;
}
video{
  padding:10px 15px;
}
/* end*/
.abtvideo{
  width: 60%;
  float: left;
  background-color: rgb(231,232,232);
  height: 200px;
}

.v-name{
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0 10px 25px;
}

.v-desc{
  width: 95%;
  font-size: 16px;
  padding: 20px 0 10px 25px;
}

.see-more-films{
  margin: 30px auto;
  height: 40px;
}

/*Tc films styling ends here*/

/* button stylying starts here */
.btn{
  text-align: center;
}

.btn a{
  padding: 10px 30px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: rgba(52,173,242);
}

.btn a:hover{
  background-color: white;
  color: rgba(52,173,242);
  border: 1px solid;
}

/* button styling ends here */

/* health reflection tool styling starts here*/
.bck-img{
  background-image: url('../images/hf.jpeg');
  background-size: cover;
  width: 100%;
  height: 500px;
}

.h-r-tool{
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.h-r-tool h2{
  color: white;
  padding: 150px 0 0 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.h-r-tool p{
  text-align: center;
  color: white;
  padding: 20px 0 50px 0;
  line-height: 1.5;
}
/* health reflection tool styling ends here*/

/*Campaign styling starts here*/

.campaign{
  width: 50%;
  margin: 0 auto;
}

.campaign h2{
  padding: 20px 0 0 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.campaign p{
  text-align: center;
  padding: 20px 0;
  line-height: 1.5;
  color: #514a4a;
}

/*Campaign styling ends here*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
.footr{background-color: rgb(224,224,225);}

.f-flex{
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px;
  border-bottom: 0.6px solid;
  border-color: rgba(151,151,153);  
}

.f1{
  width: 200px;
  border-right: 0.5px solid;
  border-color: rgba(151,151,153);  
}

.f-logo{
  width: 154px;
  height: 60px;
}

.f-logo a{ padding: 20px 0; }

.f2{
  width: 200px;
  padding: 0 50px 0 50px;
  border-right: 0.5px solid;
  border-color: rgba(151,151,153);
}

.list1{
  width: 60%;
  float: left;
}

.list1>ul>li>a:hover,
.list2>ul>li>a:hover{ color: rgba(52,173,242); }

.list2{
  width: 40%;
  float: left;
}
.list1 li{ display: block; }

.list2 li{ display: block; }

.list1 li a,
.list2 li a{
  line-height: 2;
  color: rgb(102, 97, 97);
  font-size: 12px;
}
.f3{
  padding: 0 50px;
  border-right: 0.5px solid;
  border-color: rgba(151,151,153); 
}
.fhead1 h3{
  line-height: 2;
  font-weight: bold;
  font-size: 15px;
}
.facebook a,
.youtube a,
.twitter a {
  color: rgb(102, 97, 97);
  padding: 0 10px;
  font-size: 14px;
}
.facebook a:hover,
.youtube a:hover,
.twitter a:hover{color: rgba(52,173,242);}

.facebook .fab.fa-facebook,
.youtube .fab.fa-youtube,
.twitter .fab.fa-twitter{
  font-size: 12px;
  padding: 5px;
  border: 0.6px solid;
  border-radius: 20px;
  border-color: rgba(151,151,153); 
  color: rgba(151,151,153);
  margin: 3px;
}

.facebook .fab.fa-facebook:hover,
.youtube .fab.fa-youtube:hover,
.twitter .fab.fa-twitter:hover{ color: rgba(52,173,242); }

.f4{
  width: 270px;
  margin: 0 auto;
}
.fhead h3{
  line-height: 2;
  font-weight: bold;
  font-size: 15px;
}
.moto{
  font-size: 12.84666px;
  padding: 0 28px 0 0;
  text-align: justify;
}
.moto p{ color: rgba(151,151,153); }

.email{ padding: 20px 0; }

.email .fas.fa-envelope{
  font-size: 12px;
  padding: 5px;
  border: 0.6px solid;
  border-radius: 20px;
  border-color:rgba(151,151,153); 
  color: rgba(151,151,153);
  margin: 3px;
}
.email .fas.fa-envelope:hover,
.email a:hover{ color: rgba(52,173,242); }

.email a{
  font-size: 12px;
  color: rgb(102, 97, 97);
}

.fctpr{ padding: 20px 45px; }

.terms{
  display: inline;
  margin-right: 30px;
}

.privacy{ display: inline; }

.rights{ float: right; }

.terms a,
.privacy a,
.rights a{
  font-size: 12px;
  color: rgb(102, 97, 97);
}

.terms a:hover,
.privacy a:hover{color: rgba(52,173,242);}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  